html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.neegzituojanti-klase {
    text-align: end;
    font-size: 40px;
}
.my-table {
    width: 100%;
    border: 1px solid;
    border-color: red;
}
.my-table-row-headings
{
    font-size: 18px;
    color: darkblue;
}
.my-table-row {
    border: 1px solid;
}